<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Voice Conversion/Record</title>
    <meta charset="utf-8" name="viewport" content=" width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href={{ url_for("static", filename ="font-awesome/css/font-awesome.min.css")}} rel="stylesheet" />
    <link href={{ url_for("static", filename ="css/record.css")}} rel="stylesheet" />
    <link rel="shortcut icon" href={{ url_for('static', filename='images/material/favicon.ico') }}>
    <script type="text/javascript" src={{ url_for("static", filename ="js/record.js")}}></script>
    <script type="text/javascript" src={{ url_for("static", filename ="js/recorder.js")}}></script>
    <script type="text/javascript" src={{ url_for("static", filename ="js/jquery.min.js")}}></script>
</head>

<body>
    <div class="body">
        <p id="back" onclick="page_jump('/')"><i class="fa fa-angle-double-left"></i>
            &nbsp;Back to Main Page
        </p>
        <div class="title">
            Record New Wave File
        </div>
        <br><br><br><br>
        <div class="group group1">
            <span id="a">
                <audio controls="controls" id="wave1" hidden="true">
                    <source src={{ url_for("static", filename = "audio/blank.wav")}}>
                </audio>
                <p><i class="fa fa-file-audio-o"></i>
                    &nbsp;Initial Wave File</p>
                <img id="consignerRdSign" src={{ url_for("static", filename = "images/material/blank.jpg")}} width="100%" />
                <p id="record" onclick="startRecording()"><i class="fa fa-microphone"></i>
                    &nbsp;Record</p>
                <p id="stop" onclick="stopRecording()"><i class="fa fa-microphone-slash"></i>
                    &nbsp;Stop</p>
                <p id="play" onclick="Play1()"><i class="fa fa-headphones"></i>
                    &nbsp;Play</p>
                <p id="clear" onclick="clearRecording()"><i class="fa fa-clock-o"></i>
                    &nbsp;Clear</p>
            </span>
        </div>
        <div class="column">
            <audio controls="controls" id="target_voice" hidden="true">
                <source src={{ url_for("static", filename = "targets/slt.wav")}}>
            </audio>
            <table>
                <tr>
                    <td>
                        <button onclick="change_target()">
                            <span id="target_name"><i class="fa fa-refresh"></i>&nbsp;slt</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="Play('target_voice')" onmouseover="preview('target_img')" onmouseout="out('target_img')">
                            <span class="button-text"><i class="fa fa-play"></i>&nbsp;Play</span>
                        </button>
                    </td>
                    <td>
                        <img id="target_img" width="200" src={{ url_for("static", filename = "targets/slt.jpg")}} />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="convert()">
                            <span class="button-text"><i class="fa fa-arrow-right"></i>&nbsp;Run</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="group group2">
            <span id="a">
                <audio controls="controls" id="wave2" hidden="true">
                    <source src={{ url_for("static", filename = "audio/blank.wav")}}>
                </audio>
                <p><i class="fa fa-file-audio-o"></i>
                    &nbsp;Converted Wave File</p>
                <img id="result" src={{ url_for("static", filename ="images/material/blank.jpg")}} width="100%" />
            </span>
            <span id="b">
                <p onclick="Play2()"><i class="fa fa-youtube-play"></i>
                    &nbsp;Play the Converted Voice</p>
            </span>
        </div>
    </div>
</body>

</html>